# mirai_app/requirements.txt

google-genai
python-dotenv # For loading environment variables from a .env file
python-dateutil # For flexible date parsing
# google-api-python-client
# google-auth-httplib2
# google-auth-oauthlib
dateparser
requests # For making HTTP requests to CallMeBot or other APIs
pytz # For timezone handling
icalendar # For handling ics files
icalevents # For advanced event querying
python-telegram-bot # For Telegram bot integration